@model FacturatieKMO.BL.Domain.InvoiceDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDTO</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CompanyInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
